/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button-with-margin {
    -fx-padding: 5.0px;
    -fx-border-insets: 10.0px;
    -fx-background-insets: 5.0px;

}

.table-cell:selected{
    -fx-background-color: rgba(255,255,255,0.7) !important;
    -fx-border-color: #006dff;
    -fx-border-width: 2;
    -fx-text-fill: black;
}

.browser{
	-fx-padding:0;
	-fx-border-width:0;

	
}

.table-view:focused {
   
}

.menu-toggle-button {
    -fx-background-color: black;
    font-family: FranklinGothicLT;
    font-size: 14.0px;
    font-weight: bold;
    -fx-text-fill: white;
}

.menu-toggle-button2 {
    -fx-background-color: #4c4c4c;
    font-family: FranklinGothicLT;
    font-size: 14.0px;
    font-weight: bold;
    -fx-text-fill: white;
}

/* .menu-toggle-button:selected {
    -fx-background-color: #ffffff;
    font-family: FranklinGothicLT;
    font-size: 14.0px;
    font-weight: bold;
}*/

.texto14 {
	-fx-text-fill: white;
    -fx-font-family: FranklinGothicLT;
    -fx-font-size: 14.0px;
}


.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: FranklinGothicLT;
    -fx-font-size: 12.0px;

}

.table-view .column-header{
	-fx-background-color: black;
	 -fx-border-color: gray;
    -fx-table-cell-border-color:gray;
}

.tabla-referencias .column-header {
	-fx-background-color: #7f7f7f !important;
    -fx-border-color: lightgray;
    -fx-table-cell-border-color:lightgray;
}

.tabla-impresion .column-header {
	-fx-background-color: #66a7ff !important;
}

.tabla-impresion .columna-check .column-header {
	 -fx-border-color:white !important;
}

.table-row-cell:odd {
    -fx-background-color: #bfd6f3;
}

.table-row-cell:selected {
	-fx-background-color: #66a7ff;
}

.tabla-referencias .table-row-cell:odd {
    -fx-background-color: #e5e5e5 !important;
}

.tabla-impresion .table-row-cell:odd {
    -fx-background-color: #3e3e8e !important;
}


.table-row-cell .invalid {
    -fx-background-color: rgba(255.0,255.0,2.0,0.5);
    -fx-font-weight: bold;
    -fx-text-fill: #006dff;
}

.table-cell{
-fx-table-cell-border-color:gray;
}

.table-view{
-fx-border-color: lightgray;
-fx-focus-color: transparent;
-fx-border-insets: 0 0 0 -1;
-fx-background-insets: 0 0 0 0;
}


.invalid {
    -fx-background-color: rgba(255.0,255.0,2.0,0.5);
    -fx-font-weight: bold;
    -fx-text-fill: #006dff;
}

.root{
	font-family: FranklinGothicLT;
}







.radio-button .radio {
	-fx-border-width: 1px;
    -fx-border-color: black;
	-fx-background-color: white;
	-fx-background-image: null;
	-fx-background-radius: 18px;
    -fx-border-radius: 18px;



}

.radio-button .dot {
  -fx-mark-highlight-color: black ;
  -fx-mark-color: black ;
}


.tab-header-background {
    -fx-background-color: white !important;
    -fx-border-color: white white #006dff white;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 0 0;
 
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290";
}

.tab-pane > .tab-header-area > .headers-region {
	-fx-padding: 0 0 0 0;
}

.tab-pane > .tab-header-area{
	-fx-padding: 0 0 0 30;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	-fx-shape: "M300,290 L310,168 L410,168 L421,290";
    -fx-focus-color: transparent;
    
    
}

.tab{

	-fx-background-color: d8d8d8;
	-fx-background-insets: 0 0 2 0;

}


.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
	-fx-border-witdh: 3;
	-fx-border-color: #006dff;
    -fx-background-color: white;  
    -fx-background-insets: 0 0 -1 0;
    -fx-text-fill: black !important ;  
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-font-family: FranklinGothicLT;
    -fx-font-size: 12.0px;
}

.tab:selected .tab-label { 
    -fx-text-fill: black;
    -fx-font-weight:bold;
    -fx-font-family: FranklinGothicLT;
    -fx-font-size: 12.0px;
}

.combo-box-base  
{
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: black;
    -fx-border-width: 2px;
    
}


.list-cell
 {
 	-fx-font-family: FranklinGothicLT;
    -fx-font-size: 14px;
    -fx-text-fill: #006dff;
 }
 .combo-box .combo-box-popup .list-cell{
 	-fx-background-color:#accaf3;
 	-fx-text-fill: white;
 	
 }

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #006dff ;
    -fx-text-fill: white;
}

.text-area{
    -fx-background-color: #fff, #fff;
}

.text-area .content {
    -fx-background-color: #fff;
}

.text-area:focused .content {
    -fx-background-color: #fff;
}

