/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button-with-margin {
    -fx-padding: 5px;
    -fx-border-insets: 10px;
    -fx-background-insets: 5px;

}

.table-cell:selected{
    -fx-background-color: rgba(0,109,255,0.5) !important;
}


.browser {
    background-color: #f0a21d; 
    font-family: Arial, Helvetica, sans-serif;
}

.menu-toggle-button {
    -fx-background-color: rgba(255,255,255,0.8);
    font-family: FranklinGothicLT;
    font-size: 14px;
    font-weight: bold;
}

.menu-toggle-button:selected {
    -fx-background-color: #ffffff;
    font-family: FranklinGothicLT;
    font-size: 14px;
    font-weight: bold;
}

.texto14 {
	-fx-text-fill: white;
    -fx-font-family: FranklinGothicLT-Demi;
    -fx-font-size: 14px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: FranklinGothicLT-Demi;
    -fx-font-size: 12px;
}

.table-view .column-header{
	-fx-background-color: black;
}

.tabla-referencias .column-header {
	-fx-background-color: #7f7f7f !important;
}

.tabla-impresion .column-header {
	-fx-background-color: #66a7ff !important;
}

.table-row-cell:odd {
    -fx-background-color: #bfd6f3;
}

.tabla-referencias .table-row-cell:odd {
    -fx-background-color: #e5e5e5 !important;
}

.tabla-impresion .table-row-cell:odd {
    -fx-background-color: #3e3e8ef !important;
}


.table-row-cell .invalid {
    -fx-background-color: rgba(255,255,2,0.5);
    -fx-font-weight: bold;
    -fx-text-fill: #006dff;
}


.invalid {
    -fx-background-color: rgba(255,255,2,0.5);
    -fx-font-weight: bold;
    -fx-text-fill: #006dff;
}



